@import "assets/styles/variable.scss";

.click {
  cursor: pointer;
}
header {
  min-height: 80vh;
  background: url("./assets/Images/background.svg");
  background-position: center;
  background-size: cover;
  margin-top: 12rem;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 28vh;
    @media (max-width: 800px) {
      padding-top: 8rem;
    }
    .people {
      width: 43%;
      color: #08002e;
      h1 {
        font-size: 5rem;
        font-weight: 800;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 2rem;
      }
    }
    .sara-dub {
      width: 43%;
      @media (min-width: "900px") {
        text-align: end;
      }

      @media (min-width: "1200px") {
        text-align: center;
      }
      img {
        width: 30rem;
      }
    }
    @media (max-width: 769px) {
      flex-direction: column-reverse;
      gap: 2rem;
      .people,
      .sara-dub {
        width: 100%;
      }
    }
  }

  .next {
    font-size: 6rem;
    animation: bouncing 2s ease-in infinite;
    padding-top: 16vh;
  }
  @keyframes bouncing {
    0% {
      transform: translateY(75vh);
    }
    25% {
      transform: translateY(73vh);
    }
    50% {
      transform: translateY(72vh);
    }
    75% {
      transform: translateY(72vh);
    }
    100% {
      transform: translateY(75vh);
    }
  }

  @media (max-width: 897px) {
    background-position: 29%;
    .inspiration-img {
      width: 16rem;
      height: 24rem;
    }
  }
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #fefdff;
  padding: 0rem 4rem;
  align-items: center;
  position: sticky;
  transition: all ease 0.3s;
  top: 0;
  z-index: 5;
  margin-top: -13rem;
  h1 {
    color: #08002e;
    font-weight: 700;
  }
  .logo-img {
    width: 30rem;
  }
  .toggle-menu,
  .close {
    display: none;
  }
  .nav-link {
    flex: 1;
    text-align: right;
    ul li {
      list-style: none;
      display: inline-block;
      padding: 0.6rem 1.2rem;
      position: relative;
      a {
        color: #08002e;
        text-decoration: none;
        font-size: 1.6rem;
        transition: all ease 0.3s;
      }
      &::after {
        content: "";
        height: 2px;
        width: 0%;
        background: #ff6745;
        transition: all ease 0.3s;
        display: block;
        transition: 0.5s;
      }
      &.underline-none {
        &::after {
          display: none;
        }
      }
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }
  &.sticky {
    background-color: #fff;
    box-shadow: 0 0.4rem 0.5rem rgba(179, 179, 179, 0.5);
    .nav-link {
      li {
        a {
          color: $grey-100;
          &:hover {
            color: $grey-100;
          }
        }
        &::after {
          background: $green-100;
        }
      }
    }
  }
}
@media (max-width: 897px) {
  nav {
    padding: 1rem;
    .toggle-menu,
    .close {
      display: block;
      font-size: 3rem;
      color: #08002e;
      cursor: pointer;
      margin: 10px;
    }
    .close {
      color: white;
      font-size: 6rem;
    }
    .nav-link {
      position: fixed;
      background: rgb(5, 19, 10);
      height: 100vh;
      width: 100%;
      top: 0;
      right: -100%;
      text-align: left;
      z-index: 2;
      transition: 0.3s;
      &.open {
        right: 0;
      }
      ul {
        padding: 3rem;
        text-align: center;
        li {
          display: block;
          padding: 1.8rem 1.2rem;
          a {
            font-size: 3rem;
            color: white;
          }
        }
      }
    }
    &.sticky {
      .toggle-menu {
        color: $brown;
      }
    }
  }
}

//About section
.discover {
  .iconic-wrapper {
    background: url("./assets/Images/section-2-background.svg");
    height: 30vh;
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
    margin-top: 12rem;
    position: relative;
    @media (min-width: 991px) {
      p {
        font-size: 1.3rem;
        width: 40%;
        margin: auto;
        padding-top: 5rem;
      }
      img.annie-img {
        position: absolute;
        top: -12%;
        left: 7%;
        width: 17rem;
      }
      img.priscilla-img {
        position: absolute;
        top: -38%;
        right: 5%;
        width: 23.5rem;
      }
    }
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      min-height: 100vh;
      flex-direction: column-reverse;
      p {
        font-size: 1.6rem;
        width: 80%;
        margin-inline: auto;
      }
      img.annie-img {
        display: none;
      }
    }
  }
}

//attraction section
.attraction {
  margin-block: 6rem;
  &.grid-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1.6rem;
    column-gap: 1.6rem;
    overflow-x: auto;
    padding: 2.4rem;
    .cardd {
      min-width: 30rem;
      .attraction-card {
        color: #212227;
        padding: 1.6rem;
        border-radius: 0.8rem;
        overflow: hidden;
        background: #fff;
        font-size: 1.2rem;
        user-select: none;
        border: 0.1rem solid rgba(33, 34, 39, 0.03);
        box-shadow: 0 0.2rem 0.4rem rgba(33, 34, 39, 0.05);
        .card-header {
          background: rgba(33, 34, 39, 0.03);
          border: none;
          font-size: 1.4rem;
          display: inline-flex;
          align-items: center;
          flex-direction: row;
          gap: 1rem;
          border-radius: 0.6rem;
          padding: 0.6rem 1rem;
          line-height: 1.4;
          .images {
            display: flex;
            flex-direction: row;
            img {
              border: 0.1px solid #fff;
              background: #f5f5f5;
              border-radius: 50%;
              height: 12px;
              width: 12px;
              background-size: cover;
              filter: blur(0.1px);
            }
          }
        }
        .photo {
          margin-top: 1rem;
          img {
            border-radius: 1rem;
            width: 100%;
          }
        }
        .card-foot {
          margin-top: 2.5rem;
          font-size: 1.6rem;
          .name {
            font-weight: 700;
          }
          .likes {
            color: #666;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .next {
    color: $purple-100;
  }
  h2 {
    color: $black;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 7rem;
  }
  .info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-row-gap: 4rem;
    grid-column-gap: 5.5rem;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .i-card {
      background: #fff;
      min-height: 18rem;
      padding: 4rem 2rem 2rem 4rem;
      border-radius: 0.8rem;
      border: transparent 2px solid;
      transition: all ease 0.6s;
      min-height: 24rem;
      h3 {
        margin-bottom: 1.5rem;
        font-weight: 800;
        font-size: 2.2rem;
      }
      p {
        font-size: 1.8rem;
        color: $grey-100;
        font-weight: 300;
      }
      &.green {
        h3 {
          color: $green-200;
        }
        &:hover {
          border-color: $green-200;
        }
      }
      &.purple {
        h3 {
          color: $purple-100;
        }
        &:hover {
          border-color: $purple-100;
        }
      }
      &.blue {
        h3 {
          color: rgba($color: $blue-100, $alpha: 0.8);
        }
        &:hover {
          border-color: rgba($color: $blue-100, $alpha: 0.8);
        }
      }
      &.yellow {
        h3 {
          color: $yellow-200;
        }
        &:hover {
          border-color: $yellow-200;
        }
      }
      &.grey {
        h3 {
          color: $grey-100;
        }
        &:hover {
          border-color: $grey-100;
        }
      }
    }
  }
}
.contact-page-wrapper {
  margin-block: 9rem;
  .icon {
    font-size: 4rem;
    color: #000000;
  }
  h2 {
    font-size: 1.7rem;
    margin-block: 1.9rem;
    color: #212227;
  }
  p {
    color: #727171;
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    .email-brder {
      border-inline: 0.1rem dashed #727171;
    }
  }
}
.attraction-page {
  background: #fff;
  margin-block: 30vh 10vh;

  h1 {
    width: 86%;
    margin: auto;
    margin-block: 8rem;
    color: #08002e;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
  }
  @media (max-width: 800px) {
    margin-block: 20vh 5vh;
    h1 {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 2rem;
    color: $grey-100;
    font-weight: 700;
    margin-bottom: 3.5rem;
  }
  img {
    display: block;
    margin-bottom: 3rem;
    width: 25rem;
    object-fit: contain;
    &.logo_bg {
      width: 27rem;
    }
  }

  .grid-container {
    .item1 {
      grid-area: one;
    }
    .item2 {
      grid-area: two;
    }
    .item3 {
      grid-area: three;
    }
    .item4 {
      grid-area: four;
    }
    .item5 {
      grid-area: five;
    }
    display: grid;
    grid-template-areas:
      "one two three"
      "one four five";
    grid-gap: 0.4rem;
    padding: 0.4rem;
    flex-basis: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

footer {
  padding: 2.4rem;
  font-size: 1.6rem;
  line-height: 1;
  background: rgba(33, 34, 39, 0.06);
  @media (max-width: 600px) {
    padding: 1.6rem 0;
  }
  .l-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    .copyright {
      color: #23231e;
      font-weight: 600;
      flex: 1 1 100%;
    }
    a {
      color: #23231e;
    }
    @media (max-width: 600px) {
      text-align: center;
    }
    @media (max-width: 600px) {
      .u-desktop-only {
        display: none;
      }
    }
  }
}
