@import "./variable.scss";

.btn {
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}
.btn-lg {
  min-height: 3rem;
  min-width: 8rem;
  padding: 1.2rem;
  font-size: 2rem;
  font-weight: 500;
}
.btn-pink {
  background-color: #ff6745;
  color: $white-100;
  transition: all ease 0.3s;
  &:hover {
    color: $white-100;
    background-color: darken($color: #ff6745, $amount: 5);
  }
}
